In [1]:
import pandas as pd
import numpy
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('../data/smart_farm_zoning_dataset.csv')
data

      temperature  altitude  pressure  zone_class
0           26.00     497.6    959.96  Cool_Humid
1           22.89     616.0    945.00  Cool_Humid
2           25.62     511.0    955.29  Cool_Humid
3           33.40     189.4    995.00     Hot_Dry
4           32.72       0.5   1018.96     Hot_Dry
...           ...       ...       ...         ...
7995        30.47     229.0    995.00     Hot_Dry
7996        31.96     169.0   1023.73    Unstable
7997        26.00     200.0    986.33  Cool_Humid
7998        27.59      31.4    993.64    Unstable
7999        18.70      97.4    985.57    Unstable

[8000 rows x 4 columns]

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   temperature  8000 non-null   float64
 1   altitude     8000 non-null   float64
 2   pressure     8000 non-null   float64
 3   zone_class   8000 non-null   object
dtypes: float64(3), object(1)
memory usage: 250.1+ KB

In [5]:
X = data[['temperature', 'altitude', 'pressure']]  
y = data['zone_class']

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [8]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [9]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(X_train_scaled, y_train)

y_pred = knn.predict(X_test_scaled)

accuracy = knn.score(X_test_scaled, y_test)
print(accuracy)

0.959375

In [10]:
from sklearn.metrics import classification_report, accuracy_score

print("Accuracy:", accuracy_score(y_test, y_pred))
print("Classification Report:\n", classification_report(y_test, y_pred))

Accuracy: 0.959375
Classification Report:
               precision    recall  f1-score   support

  Cool_Humid       0.93      0.99      0.96       523
     Hot_Dry       0.96      1.00      0.98       540
    Unstable       0.99      0.89      0.94       537

    accuracy                           0.96      1600
   macro avg       0.96      0.96      0.96      1600
weighted avg       0.96      0.96      0.96      1600

In [11]:
from sklearn.model_selection import cross_val_score
import numpy as np

scores = cross_val_score(knn, X, y, cv=5)  # 5-fold cross-validation
print("Cross-validation scores:", scores)
print("Mean accuracy:", np.mean(scores))

Cross-validation scores: [0.94125  0.924375 0.9325   0.936875 0.92375 ]
Mean accuracy: 0.9317500000000001

In [12]:
for k in [3, 5, 7, 9]:
    knn = KNeighborsClassifier(n_neighbors=k)
    scores = cross_val_score(knn, X, y, cv=5)
    print(f"k={k}, Mean CV Accuracy: {np.mean(scores):.3f}")

k=3, Mean CV Accuracy: 0.932
k=5, Mean CV Accuracy: 0.922
k=7, Mean CV Accuracy: 0.912
k=9, Mean CV Accuracy: 0.906